body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(167, 50, 174), rgb(101, 9, 122));
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: relative;
}
fieldset{
    border: 3px solid rgb(167, 50, 174);
    width: relative;   
}
legend{
    border: 1px solid rgb(167, 50, 174);
    padding: 10px;
    text-align: center;
    background-color: rgb(167, 50, 174);
    border-radius: 5px;
    font-size: 20px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;

}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(167, 50, 174);
}
.text{
    position: relative;
    text-align: center;
    font-size: 20px;
}
.tabel{
    overflow: auto;
    position: inherit;
    height: 150px;
}
table, th, td{
    border: 1px solid rgb(167, 50, 174);
    border-collapse: collapse;
    padding: 5px 2px;
}
table{
    width: 99%;
}

@media (max-width: 784px) {
    .box{
        width: 70%;
    }
}

@media (max-width: 500px){
    .box{
        width: 85%;
    }
    .text{
        font-size: 15px;
    }
    table, th, td{
        font-size: 10px;}
    label{
        font-size: 13px;
    }
    button{
        font-size: 10px;
    }
    legend{
        font-size: 15px;
    }
    .inputUser:focus ~ .labelInput,
    .inputUser:valid ~ .labelInput{
    top: -10px;
    font-size: 10px;
    color: rgb(167, 50, 174);
}

}